Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
          - name: xxx
            image: debian
            command: [bash, -c]
            args:
              - |
                ls /home/prow/go
                pwd
                ls -l
                ls -l /home/prow/go/src/github.com/
                ls -l /home/prow/go/src/github.com/PingCAP-QE
                ls -l /home/prow/go/src/github.com/PingCAP-QE/ee-ops

feat(prow-jobs): add jobs to verify ci's prow jobs (#2181)
  prow-jobs/pingcap-qe-ci-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: add schema_registry binary
  jenkins/pipelines/ci/ticdc/cdc_ghpr_kafka_integration_test.groovy
  jenkins/pipelines/ci/ticdc/integration_test_common.groovy
Due: pull-verify-jenkins-pipelines

fix: correct tar file name
  jenkins/pipelines/ci/ticdc/integration_test_common.groovy
Due: pull-verify-jenkins-pipelines

fix: fix shell env escape error
  jenkins/pipelines/ci/ticdc/integration_test_common.groovy
Due: pull-verify-jenkins-pipelines

format: remove lines
  jenkins/pipelines/ci/ticdc/cdc_ghpr_kafka_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: add schema_registry binary (#2182)
  jenkins/pipelines/ci/ticdc/cdc_ghpr_kafka_integration_test.groovy
  jenkins/pipelines/ci/ticdc/integration_test_common.groovy
Due: pull-verify-jenkins-pipelines

fix: default importer use release-5.0
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: default importer use release-5.0 (#2183)
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pipelines/pingcap/tidb/latest): enable coverage upload in `check_dev2` job
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts/pingcap/community): add only repo support to manually sync owners to repo
  scripts/pingcap/community/update-prow-owners.ts
Due: none

refactor(scripts/pingcap/community): rename constants and make `createUpdateFilePR` simpler
  scripts/pingcap/community/update-prow-owners.ts
Due: none

feat(scripts/pingcap/community): add only repo support to manually sync owners to repo (#2184)
  scripts/pingcap/community/update-prow-owners.ts
Due: none

feat(pipelines/pingcap/tidb/latest): enable coverage upload in `check_dev2` job (#2172)
  libraries/tipipeline/vars/prow.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

chore: add node selector for arch
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

chore: add node selector for arch (#2185)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

feat: update utf-ci pipelines
  jenkins/pipelines/utf-ci/image-build.groovy
  jenkins/pipelines/utf-ci/utf-affect-check.groovy
  jenkins/pipelines/utf-ci/utf-affect-update.groovy
  jenkins/pipelines/utf-ci/utf-go-build.groovy
  jenkins/pipelines/utf-ci/utf-post-ci.groovy
  jenkins/pipelines/utf-ci/utf-pr-ci.groovy
  jenkins/pipelines/utf-ci/utf-py-build.groovy
Due: pull-verify-jenkins-pipelines

chore: pod add nodeselector
  jenkins/pipelines/utf-ci/image-build.groovy
  jenkins/pipelines/utf-ci/utf-affect-check.groovy
  jenkins/pipelines/utf-ci/utf-affect-update.groovy
  jenkins/pipelines/utf-ci/utf-go-build.groovy
  jenkins/pipelines/utf-ci/utf-post-ci.groovy
  jenkins/pipelines/utf-ci/utf-pr-ci.groovy
  jenkins/pipelines/utf-ci/utf-py-build.groovy
Due: pull-verify-jenkins-pipelines

chore: update org name
  jenkins/pipelines/utf-ci/utf-affect-check.groovy
  jenkins/pipelines/utf-ci/utf-affect-update.groovy
  jenkins/pipelines/utf-ci/utf-go-build.groovy
  jenkins/pipelines/utf-ci/utf-pr-ci.groovy
  jenkins/pipelines/utf-ci/utf-py-build.groovy
Due: pull-verify-jenkins-pipelines

chore: Delete pipelines that have not been running for a long time.
  jenkins/pipelines/utf-ci/utf-go-test.groovy
  jenkins/pipelines/utf-ci/utf-py-batch-test.groovy
  jenkins/pipelines/utf-ci/utf-py-test.groovy
Due: pull-verify-jenkins-pipelines

chore: update org name
  jenkins/pipelines/utf-ci/utf-affect-check.groovy
  jenkins/pipelines/utf-ci/utf-affect-update.groovy
Due: pull-verify-jenkins-pipelines

chore: update harbor domain name
  jenkins/pipelines/utf-ci/image-build.groovy
  jenkins/pipelines/utf-ci/utf-go-build.groovy
  jenkins/pipelines/utf-ci/utf-py-build.groovy
Due: pull-verify-jenkins-pipelines

feat: update utf-ci (#2187)
  jenkins/pipelines/utf-ci/image-build.groovy
  jenkins/pipelines/utf-ci/utf-affect-check.groovy
  jenkins/pipelines/utf-ci/utf-affect-update.groovy
  jenkins/pipelines/utf-ci/utf-go-build.groovy
  jenkins/pipelines/utf-ci/utf-go-test.groovy
  jenkins/pipelines/utf-ci/utf-post-ci.groovy
  jenkins/pipelines/utf-ci/utf-pr-ci.groovy
  jenkins/pipelines/utf-ci/utf-py-batch-test.groovy
  jenkins/pipelines/utf-ci/utf-py-build.groovy
  jenkins/pipelines/utf-ci/utf-py-test.groovy
Due: pull-verify-jenkins-pipelines

chore: use test scripts in repo br path
  pipelines/pingcap/tidb/latest/pull_integration_br_test.groovy
Due: pull-verify-jenkins-pipelines

chore fix
  pipelines/pingcap/tidb/latest/pull_integration_br_test.groovy
Due: pull-verify-jenkins-pipelines

feat: test all group tests
  pipelines/pingcap/tidb/latest/pull_integration_br_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update br lightning it test (#2189)
  pipelines/pingcap/tidb/latest/pull_integration_br_test.groovy
Due: pull-verify-jenkins-pipelines

chore: add nodeselector to use linux/amd64 node
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-check.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker.groovy
  jenkins/pipelines/cd/release-check.groovy
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update-test.groovy
  jenkins/pipelines/cd/tiup/pre-release-build.groovy
  jenkins/pipelines/cd/tiup/pre-release-tiup.groovy
  jenkins/pipelines/cd/tiup/prometheus-tiup-mirrior-update-test.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-hotfix.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-new.groovy
Due: pull-verify-jenkins-pipelines

chore: add nodeselector to use linux/amd64 node (#2191)
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-check.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker.groovy
  jenkins/pipelines/cd/release-check.groovy
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update-test.groovy
  jenkins/pipelines/cd/tiup/pre-release-build.groovy
  jenkins/pipelines/cd/tiup/pre-release-tiup.groovy
  jenkins/pipelines/cd/tiup/prometheus-tiup-mirrior-update-test.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-hotfix.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-new.groovy
Due: pull-verify-jenkins-pipelines

chore: rename br integration test pipeline
  jobs/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore: add two group
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: rename br integration test pipeline (#2196)
  jobs/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix(prow-jobs): fix `pull-verify-gitops-for-prow-jobs` job
  prow-jobs/pingcap-qe-ci-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Revert "feat: rename br integration test pipeline (#2196)"
  jobs/pingcap/tidb/latest/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_integration_br_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_br_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat(prow-jobs): add jobs for `ti-community-infra/configs` repo
  prow-jobs/pingcap-qe-ci-presubmits.yaml
  prow-jobs/ti-community-infra-configs-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add cdc binary upload path
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

fix: remove hotfix logic
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

feat(prow-jobs): add jobs for `ti-community-infra/configs` repo (#2198)
  prow-jobs/pingcap-qe-ci-presubmits.yaml
  prow-jobs/ti-community-infra-configs-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs
