Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
      - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
  ...

feat: add tiflash code cache
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflash): add new param for build-common (#2627)
  jenkins/pipelines/ci/tiflash/tiflash_ghpr_build_release.groovy
Due: pull-verify-jenkins-pipelines

refract: use official gethash.py
  jenkins/pipelines/cd/atom-jobs/docker-common-check.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-community-docker.groovy
  jenkins/pipelines/cd/release-GA-v5-extra-packages.groovy
  jenkins/pipelines/cd/release-GA.groovy
Due: pull-verify-jenkins-pipelines

feat(tiflash): add tiflash code cache (#2629)
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Due: pull-verify-jenkins-pipelines

feat: add pull lightning tests pipeline
  jobs/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat(tidb/lightning): add pull lightning tests pipeline (#2632)
  jobs/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: split br and lightning test in pipeline
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: fix check others
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

chore fix
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb/lightning): fix check others in pull-lightning-test (#2634)
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Due: pull-verify-jenkins-pipelines

remove tk-ctl and debug image
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

remove tk-ctl and debug image (#2635)
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

*: upgrade bazel image
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
Due: none

*: upgrade bazel image (#2636)
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
Due: none

fix tidb-operator cd syntax
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

fix tidb-operator cd syntax (#2637)
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

fix mkdir for charts
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

fix mkdir for charts in TiDB Operator CD (#2638)
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

remove tidb-cluster and tidb-backup Helm chart for TiDB Operator CD
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

remove tidb-cluster and tidb-backup Helm chart for TiDB Operator CD (#2639)
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

revoke: docker images get sha
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-community-docker.groovy
Due: pull-verify-jenkins-pipelines

feat: gethash nightly
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
Due: pull-verify-jenkins-pipelines

revoke: v5 GA
  jenkins/pipelines/cd/release-GA-v5-extra-packages.groovy
Due: pull-verify-jenkins-pipelines

feat: refract fetch_hash
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/release-GA.groovy
Due: pull-verify-jenkins-pipelines

fix: groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
Due: pull-verify-jenkins-pipelines

revoke: devbuild
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

refract: use refracted gethash image (#2630)
  jenkins/pipelines/cd/atom-jobs/docker-common-check.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/release-GA.groovy
Due: pull-verify-jenkins-pipelines

fix: download corrent dependency binary on hotfix-branch pr
  pipelines/pingcap/tiflow/release-7.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: archive log for all unsuccessful task
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

fix(tiflow): download correct dependency binary on hotfix-branch pr (#2640)
  pipelines/pingcap/tiflow/release-7.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: ignore error if some log not exist
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

remove wip from ci context
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

chore: remove wip from ci context (#2643)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tidb/br): split br and lightning test in pipeline (#2633)
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

opt(scripts/pingcap-inc/enterprise-extensions): add descriptioin for PR.
  scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
Due: none

Update scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
  scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
Due: none

opt(scripts/pingcap-inc/enterprise-extensions): add delay before deal the pull request
  scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
Due: none

opt(scripts/pingcap-inc/enterprise-extensions): add descriptioin for PR (#2644)
  scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
Due: none

ci: v5.3 is EOS
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

ci: v5.3 is EOS (#2645)
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
