Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
      - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
  ...

feat: remove wip and set those optional
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Update build-common.groovy (#2536)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

feat: remove wip and set those optional (#2537)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: update pull-test pipeline to simplify
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tiproxy tiup pipeline
  jenkins/jobs/cd/release_tiproxy_tiup.groovy
  jenkins/pipelines/cd/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

style: add newline
  jenkins/jobs/cd/release_tiproxy_tiup.groovy
Due: none

fix: https protocal
  jenkins/jobs/cd/release_tiproxy_tiup.groovy
Due: none

fix: arch
  jenkins/pipelines/cd/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

feat: hide the tiup mirror param
  jenkins/jobs/cd/release_tiproxy_tiup.groovy
  jenkins/pipelines/cd/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb): auto create pull requests to bump enterprise extension submodule folders
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-community-postsubmits.yaml
  prow-jobs/pingcap-inc-enterprise-extensions-postsubmits.yaml
  scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
Due: pull-verify-gitops-for-prow-jobs

feat(tidb): auto create pull requests to bump enterprise extension submodule folders (#2540)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-community-postsubmits.yaml
  prow-jobs/pingcap-inc-enterprise-extensions-postsubmits.yaml
  scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
Due: pull-verify-gitops-for-prow-jobs

fix: renmae pull-mysql-client-test pod yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
Due: none

fix: chore update
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
Due: pull-verify-jenkins-pipelines

fix: chore update
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

fix: set not required job as optional
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: chore update
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

chore: set two canary job as optional
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-gitops-for-prow-jobs

Update prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-gitops-for-prow-jobs

chore(tidb): set two canary job as optional (#2541)
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-gitops-for-prow-jobs

chore: update comment
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
Due: pull-verify-jenkins-pipelines

fix: make build everytime
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Due: pull-verify-jenkins-pipelines

chore(pingcap/tidb): update canary unit test job
  pipelines/pingcap/tidb/latest/canary-ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore(pingcap/tidb): update canary unit test job (#2543)
  pipelines/pingcap/tidb/latest/canary-ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat(tidb): update pull-test pipeline to simplify (#2538)
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: remove param default param
  jenkins/jobs/cd/release_tiproxy_tiup.groovy
Due: none

refract: remove closure
  jenkins/pipelines/cd/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

feat: seperate tiup keys
  jenkins/pipelines/cd/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

style: space
  jenkins/pipelines/cd/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

fix: remove echo
  jenkins/pipelines/cd/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

refact: move file position
  jobs/pingcap/tiproxy/cd/release_tiproxy_tiup.groovy
  pipelines/pingcap/tiproxy/cd/latest/pod-go-amd64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-go-arm64.yaml
  pipelines/pingcap/tiproxy/cd/latest/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

refact: move file
  jobs/pingcap/tiproxy/cd/latest/release_tiproxy_tiup.groovy
Due: none

style: add newline at eof
  pipelines/pingcap/tiproxy/cd/latest/pod-go-amd64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-go-arm64.yaml
Due: none

feat: add tiup lock
  pipelines/pingcap/tiproxy/cd/latest/pod-tiup.yaml
  pipelines/pingcap/tiproxy/cd/latest/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

fix: syntax
  pipelines/pingcap/tiproxy/cd/latest/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

feat: add tiproxy tiup pipeline (#2539)
  jobs/pingcap/tiproxy/cd/latest/release_tiproxy_tiup.groovy
  pipelines/pingcap/tiproxy/cd/latest/pod-go-amd64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-go-arm64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-tiup.yaml
  pipelines/pingcap/tiproxy/cd/latest/release-tiproxy-tiup.groovy
Due: pull-verify-jenkins-pipelines

chore(jobs/pingcap/tidb): delete security scan job configs
  jobs/pingcap/tidb/latest/canary_scan_security.groovy
  pipelines/pingcap/tidb/latest/canary-scan-security.groovy
  pipelines/pingcap/tidb/latest/pod-canary-scan-security.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore(jobs/pingcap/tidb): delete security scan job configs (#2544)
  jobs/pingcap/tidb/latest/canary_scan_security.groovy
  pipelines/pingcap/tidb/latest/canary-scan-security.groovy
  pipelines/pingcap/tidb/latest/pod-canary-scan-security.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore: bump nightly version to 7.6.0-alpha
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Due: pull-verify-jenkins-pipelines

chore: upgrade jnlp image version
  jenkins/pipelines/cd/pre-release-enterprise-docker.groovy
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update-test.groovy
  jenkins/pipelines/cd/tiup/pre-release-build.groovy
Due: pull-verify-jenkins-pipelines

chore: upgrade jnlp version for ci
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/pd/pd_ghpr_build.groovy
  jenkins/pipelines/ci/pd/pd_ghpr_monitor_test.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_downstream_coverage.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_integration_test.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_kafka_integration_test.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_leak_test.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_test.groovy
  jenkins/pipelines/ci/ticdc/dm_ghpr_compatibility_test.groovy
  jenkins/pipelines/ci/ticdc/dm_ghpr_integration_test.groovy
  jenkins/pipelines/ci/ticdc/engine_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_build_new3.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_integration.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_build.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_mysql_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_br_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_cdc_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_copr_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_readonly_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb/tidb_integration_test_ci_shadow_debug.groovy
  jenkins/pipelines/ci/tidb/tidb_merged_pr_build.groovy
  jenkins/pipelines/ci/tiflash/tiflash_schrodinger_test.groovy
  jenkins/pipelines/ci/tikv/pd/pd_ghpr_build.groovy
  jenkins/pipelines/ci/tikv/pd/pd_ghpr_monitor_test.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_integration-copr-test.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_integration_common_test.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_integration_compatibility_test.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_integration_ddl_test.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
