Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
          - name: xxx
            image: debian
            command: [bash, -c]
            args:
              - |
                ls /home/prow/go
                pwd
                ls -l
                ls -l /home/prow/go/src/github.com/
                ls -l /home/prow/go/src/github.com/PingCAP-QE
                ls -l /home/prow/go/src/github.com/PingCAP-QE/ee-ops

refactor: migrate `enterprise-plugin` repo (#2440)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_ingration_enterprise_plugin_test.groovy
  jenkins/pipelines/ci/tidb/tidb_merged_pr_build.groovy
  pipelines/pingcap/tidb/latest/merged_build.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_build.groovy
  staging/pipelines/pingcap/tidb/latest/ghpr_build.groovy
  staging/pipelines/pingcap/tidb/latest/merged_build.groovy
Due: pull-verify-jenkins-pipelines

chore/migrate plugin repo (#2457)
  jenkins/pipelines/cd/tiup/pre-release-tiup.groovy
  tools/gethash/gethash.py
Due: pull-verify-jenkins-pipelines

feat: support ctl on mac arm
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

style: add newline at eof
  jenkins/jobs/cd/tiup_mirror_online_ga.groovy
  jenkins/jobs/cd/tiup_mirror_online_rc.groovy
Due: none

refract: use final var
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

style: ident
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

refract: move local var
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

refract: skip to older verison for mac arm
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

fix: job dsl
  jenkins/jobs/cd/tiup_mirror_online_ga.groovy
  jenkins/jobs/cd/tiup_mirror_online_rc.groovy
Due: none

style: ident
  jenkins/jobs/cd/tiup_mirror_online_ga.groovy
  jenkins/jobs/cd/tiup_mirror_online_rc.groovy
Due: none

resolve comments
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

Update pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
Due: pull-verify-jenkins-pipelines

Update prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

ticdc: add pulsar sink integration test pipeline for ticdc (#2458)
  jobs/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat(tiup,ctl): tiup mirror publish pipeline and add ctl to mac/arm (#2463)
  jenkins/jobs/cd/tiup_mirror_online_rc.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-hotfix.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test.groovy
Due: pull-verify-jenkins-pipelines

fix: comment some check ready code
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
Due: pull-verify-jenkins-pipelines

fix: comment some check ready code (#2466)
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
Due: pull-verify-jenkins-pipelines

fix: enable report cdc-integration-pulsar-test
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix(scripts/pingcap/community): add prow owners files into ignore list for licenaserc config
  scripts/pingcap/community/update-prow-owners.ts
Due: none

fix: job dsl name
  jenkins/jobs/cd/tiup_package_offline_mirror_v6_0_0.groovy
Due: none

fix(scripts/pingcap/community): add prow owners files into ignore list for licenaserc config (#2447)
  scripts/pingcap/community/update-prow-owners.ts
Due: none

fix: job dsl name (#2468)
  jenkins/jobs/cd/tiup_package_offline_mirror_v6_0_0.groovy
Due: none

fix: remove debug
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: change default staging mirror address
  jenkins/jobs/cd/tiup_mirror_online_rc.groovy
Due: none

fix: change default staging mirror address (#2469)
  jenkins/jobs/cd/tiup_mirror_online_rc.groovy
Due: none

fix: enable report cdc-integration-pulsar-test (#2467)
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: remove repeated line
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

fix: remove repeated line (#2471)
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

Update pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Update pingcap-tiflow-latest-presubmits.yaml (#2472)
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add tidb release-7.4 jobs
  jobs/pingcap/tidb/release-7.4/aa_folder.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.4/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.4/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.4/pull_br_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: remove useless podtemplate
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2_v2.yaml
Due: none

feat: add tiflow release-7.4 jobs
  jobs/pingcap/tiflow/release-7.3/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-7.4/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.4/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-7.4/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  prow-jobs/pingcap-tiflow-release-7.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: adjust file to 7.4
  jobs/pingcap/tiflow/release-7.4/pull_cdc_integration_pulsar_test.groovy
Due: none

feat: add prow 7.4 presubmits
  prow-jobs/kustomization.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: support 7.4 cache image
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat: support 7.4 cache image (#2475)
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb): add tidb release-7.4 jobs (#2473)
  jobs/pingcap/tidb/release-7.4/aa_folder.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.4/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.4/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.4/pull_br_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat(tiflow): add tiflow release-7.4 jobs (#2474)
  jobs/pingcap/tiflow/release-7.4/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.4/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-7.4/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.4-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore: use tiup stable version
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines
