Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
          - name: xxx
            image: debian
            command: [bash, -c]
            args:
              - |
                ls /home/prow/go
                pwd
                ls -l
                ls -l /home/prow/go/src/github.com/
                ls -l /home/prow/go/src/github.com/PingCAP-QE
                ls -l /home/prow/go/src/github.com/PingCAP-QE/ee-ops

chore: remove unused function
  jenkins/pipelines/cd/atom-jobs/products/tiflash/experiment.groovy
Due: pull-verify-jenkins-pipelines

feat: add python-orm-test pipeline (#2289)
  jobs/pingcap/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/pingcap/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix(pipelines/pingcap/tidb): fix coverage data path and refactor unit job
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pipelines/pingcap/tidb): fix coverage data path and refactor unit job (#2288)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: add node selector
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update.groovy
Due: pull-verify-jenkins-pipelines

fix: add node selector (#2291)
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update.groovy
Due: pull-verify-jenkins-pipelines

feat(tiproxy): use pre compiled binaries for connector test
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

fix(prow-jobs): fix node selector for job `pull-notify-when-compatibility-sections-changed`
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-gitops-for-prow-jobs

fix(prow-jobs): fix node selector for job `pull-notify-when-compatibility-sections-changed` (#2292)
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-gitops-for-prow-jobs

*: update bazel image
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_unit_test.yaml
  staging/pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  staging/pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  staging/pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
Due: pull-verify-jenkins-pipelines

*: update bazel image (#2294)
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_unit_test.yaml
  staging/pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  staging/pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  staging/pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
Due: pull-verify-jenkins-pipelines

feat(tiproxy): fix connector pipe
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

fix
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
Due: none

feat(tiproxy): use pre compiled binaries for connector test (#2293)
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update container name
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

fix: update container name
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
Due: none

fix(tiproxy): update container name (#2296)
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

feat: split tiflow storae test on v7.1.0
  jobs/pingcap/tiflow/release-7.1.0/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.1.0/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1.0/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.1.0/pull_cdc_integration_storage_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1.0-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: correct folder
  jobs/pingcap/tiflow/release-7.1.0/aa_folder.groovy
Due: none

fix: remove duplicate branch regex
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: support mac
  jenkins/pipelines/cd/atom-jobs/products/tiflash/experiment.groovy
Due: pull-verify-jenkins-pipelines

refract: rename some var
  jenkins/pipelines/cd/atom-jobs/products/tiflash/experiment.groovy
Due: pull-verify-jenkins-pipelines

feat: add param for different arch
  jenkins/pipelines/cd/atom-jobs/products/tiflash/experiment.groovy
Due: pull-verify-jenkins-pipelines

fix: script
  jenkins/pipelines/cd/atom-jobs/products/tiflash/experiment.groovy
Due: pull-verify-jenkins-pipelines

feat: remove tidb from this PR
  jenkins/pipelines/cd/atom-jobs/products/tidb/release-7.1.groovy
Due: pull-verify-jenkins-pipelines

feat: support enterprsie edition
  jenkins/pipelines/cd/atom-jobs/products/tiflash/experiment.groovy
Due: pull-verify-jenkins-pipelines

fix: cleanbuild will disable bin cache
  jenkins/pipelines/cd/atom-jobs/products/tiflash/experiment.groovy
Due: pull-verify-jenkins-pipelines

feat: skip trigger on no code changes
  prow-jobs/pingcap-tidb-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.3-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.4-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.6-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.0-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: skip trigger on no code changes
  prow-jobs/pingcap-tidb-release-7.1-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

chore: update test cmd
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

chore: update test cmd (#2302)
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add 3 more tiproxy ci
  jobs/pingcap/tidb-test/latest/pull_tiproxy_common_test.groovy
  jobs/pingcap/tidb-test/latest/pull_tiproxy_jdbc_test.groovy
  jobs/pingcap/tidb-test/latest/pull_tiproxy_ruby_orm_test.groovy
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_common_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_jdbc_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_ruby_orm_test.yaml
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_common_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_jdbc_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_ruby_orm_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tiproxy mysql connector ci
  jobs/pingcap/tidb-test/latest/pull_tiproxy_mysql_connector_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_mysql_connector_test.groovy
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: not auto run it tests
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: not auto run it tests (#2305)
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: Optimize cache dependency logic
  pipelines/pingcap/tidb/latest/merged_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

chore: only run tikv store
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix cp omitting directory error
  pipelines/pingcap/tidb/latest/merged_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

chore fix
  pipelines/pingcap/tidb/latest/merged_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines
