Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
      - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
  ...

Update prow-jobs/pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add prisma integration test to tidb merged ci
  jobs/pingcap/tidb/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_prisma_test.yaml
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

Update pipelines/pingcap/tidb/latest/pod-merged_integration_prisma_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_prisma_test.yaml
Due: none

chore: check binary version
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
Due: pull-verify-jenkins-pipelines

chore: check binary version after download
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
Due: pull-verify-jenkins-pipelines

chore: check binary version
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix: skip report until verify those postsubmit jobs
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add new job sequelize-test
  jobs/pingcap/tidb-test/latest/ghpr_integration_sequelize_test.groovy
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

test: add sequelize integration test (#2226)
  pipelines/pingcap/tidb-test/latest/ghpr_integration_sequelize_test.groovy
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_sequelize_test.yaml
Due: pull-verify-jenkins-pipelines

address comments
  pipelines/pingcap/tidb/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_prisma_test.yaml
Due: pull-verify-jenkins-pipelines

format
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tidb-test): add sequelize integration test to ci (#2228)
  jobs/pingcap/tidb-test/latest/ghpr_integration_sequelize_test.groovy
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add prisma integration test to tidb merged ci (#2227)
  jobs/pingcap/tidb/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_prisma_test.yaml
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

perf(prow-jobs): update trigger condition for jobs of pingcap/tiflow (#2223)
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

perf(prow-jobs): update trigger condition for CI jobs of pingcap/tidb (#2224)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.3-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.4-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.6-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.0-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(br): trigger br against diff files (#2225)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: remove AlwaysRun because mutually exclusive
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: remove AlwaysRun because mutually exclusive (#2229)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

chore(pipelines/pingcap/tidb/latest): print the coverage files
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

chore(pipelines/pingcap/tidb/latest): print the coverage files (#2230)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

docs: add CI jobs documents for release-7.1 Fixes #2118
  README.md
  docs/pingccap/tidb/ci-jobs-latest.md
  docs/pingccap/tidb/ci-jobs-v6.5.md
  docs/pingccap/tidb/ci-jobs-v7.1.md
  docs/pingccap/tiflow/ci-jobs-latest.md
  docs/pingccap/tiflow/ci-jobs-v7.1.md
  docs/pingccap/tiflow/ci-jobs-v7.2.md
  docs/tikv/pd/ci-jbos-v6.5.md
  docs/tikv/pd/ci-jobs-latest.md
  docs/tikv/tikv/ci-jobs-v6.5.md
  jobs/pingcap/tidb/release-6.5/README.md
  jobs/pingcap/tiflow/latest/README.md
  jobs/pingcap/tiflow/release-7.1/README.md
  jobs/pingcap/tiflow/release-7.2/README.md
Due: none

feat(tidb): tidb presubmit support some it pipelines (#2153)
  jobs/pingcap/tidb/latest/pull_e2e_test.groovy
  jobs/pingcap/tidb/latest/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: add new tiproxy mysql test ci
  jobs/pingcap/tidb-test/latest/pull_tiproxy_mysql_test.groovy
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add tiproxy mysql-test pipeline
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat: tidb test add new pipeline for mysql test with tiproxy (#2235)
  jobs/pingcap/tidb-test/latest/pull_tiproxy_mysql_test.groovy
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_mysql_test.groovy
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: update pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Revert "feat(br): trigger br against diff files (#2225)"
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: update pingcap-tidb-latest-presubmits.yaml (#2236)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix(prow-jobs): run_if_changed and skip_if_only_changed are mutually exclusive
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

docs: add CI jobs documents for release-7.1 (#2232)
  README.md
  docs/pingccap/tidb/ci-jobs-latest.md
  docs/pingccap/tidb/ci-jobs-v6.5.md
  docs/pingccap/tidb/ci-jobs-v7.1.md
  docs/pingccap/tiflow/ci-jobs-latest.md
  docs/pingccap/tiflow/ci-jobs-v7.1.md
  docs/pingccap/tiflow/ci-jobs-v7.2.md
  docs/tikv/pd/ci-jbos-v6.5.md
  docs/tikv/pd/ci-jobs-latest.md
  docs/tikv/tikv/ci-jobs-v6.5.md
  jobs/pingcap/tidb/release-6.5/README.md
  jobs/pingcap/tiflow/latest/README.md
  jobs/pingcap/tiflow/release-7.1/README.md
  jobs/pingcap/tiflow/release-7.2/README.md
Due: none

Revert "feat(br): trigger br against diff files" (#2237)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Revert "perf(prow-jobs): update trigger condition for CI jobs of pingcap/tidb (#2224)"
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.3-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.4-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.6-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.0-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Revert "perf(prow-jobs): update trigger condition for jobs of pingcap/tiflow (#2223)"
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Revert "perf(prow-jobs): update trigger condition for CI jobs of pingcap/tidb (#2224)" (#2238)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.3-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.4-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.6-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.0-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Revert "perf(prow-jobs): update trigger condition for jobs of pingcap/tiflow (#2223)" (#2239)
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: disable conditional trigger
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: disable conditional trigger (#2241)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add sqlalchemy integration test
  pipelines/pingcap/tidb/latest/merged_integration_django_test.groovy
Due: pull-verify-jenkins-pipelines

rename file
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
Due: pull-verify-jenkins-pipelines

rename file
  jobs/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
