Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
          - name: xxx
            image: debian
            command: [bash, -c]
            args:
              - |
                ls /home/prow/go
                pwd
                ls -l
                ls -l /home/prow/go/src/github.com/
                ls -l /home/prow/go/src/github.com/PingCAP-QE
                ls -l /home/prow/go/src/github.com/PingCAP-QE/ee-ops

chore: remove unused line
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

chore: enable ci context report of pull-br-it-test
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.1-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

chore: enable ci context report of pull-br-it-test (#2402)
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.1-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: repo TiProxy rename to tiproxy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_common_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_jdbc_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_mysql_connector_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_mysql_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_ruby_orm_test.groovy
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: repo TiProxy rename to tiproxy
  jenkins/pipelines/cd/tiup/tiproxy-tiup-mirror.groovy
Due: pull-verify-jenkins-pipelines

fix: repo TiProxy rename to tiproxy (#2403)
  jenkins/pipelines/cd/tiup/tiproxy-tiup-mirror.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_common_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_jdbc_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_mysql_connector_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_mysql_test.groovy
  pipelines/pingcap/tidb-test/latest/pull_tiproxy_ruby_orm_test.groovy
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: arm use pod rather than bare machine (#2399)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

feat: add tidb-dashboard to pipeline
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
  jenkins/pipelines/cd/publish-tidb-dashboard.groovy
  jenkins/pipelines/cd/release-GA.groovy
  jenkins/pipelines/cd/tiup/pre-release-tiup.groovy
Due: pull-verify-jenkins-pipelines

feat(tools/list-go-dependencies): support get imports and imported by count and lines of code
  tools/list-go-dependencies/README.md
  tools/list-go-dependencies/main.go
Due: none

Update tools/list-go-dependencies/main.go
  tools/list-go-dependencies/main.go
Due: none

fix: fix get value error from REFS
  pipelines/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add more merged pipeline on tiproxy
  jobs/pingcap/tiproxy/latest/merged_integration_common_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_jdbc_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_ruby_orm_test.yaml
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: correct escape error
  pipelines/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix path
  pipelines/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tiproxy): fix get value error from REFS (#2406)
  pipelines/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add more merged pipeline on tiproxy (#2407)
  jobs/pingcap/tiproxy/latest/merged_integration_common_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_jdbc_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_ruby_orm_test.yaml
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: add pull-unit-test
  pipelines/pingcap/tiflash/latest/pod-pull_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: serial tiup steps
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-new.groovy
Due: pull-verify-jenkins-pipelines

fix: serialize tiup stages
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-new.groovy
Due: pull-verify-jenkins-pipelines

fix: use tiup nightly as client
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-new.groovy
Due: pull-verify-jenkins-pipelines

update pod template
  pipelines/pingcap/tiflash/latest/pod-pull_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

update prepare tools
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tools/list-go-dependencies): support get imports and imported by count and lines of code (#2405)
  tools/list-go-dependencies/README.md
  tools/list-go-dependencies/main.go
Due: none

fix: force tikv linux/arm64 use 64k pagesize
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

doc: add compatibility doc
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix: force tikv linux/arm64 use 64k pagesize (#2409)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

add build
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

update
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_check2.groovy
  scripts/pingcap/tidb/integrationtest.sh
Due: pull-verify-jenkins-pipelines

update
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
Due: pull-verify-jenkins-pipelines

update
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
Due: pull-verify-jenkins-pipelines

upload integrationtest.sh
  scripts/pingcap/tidb/integrationtest.sh
Due: none

upload integrationtest.sh (#2411)
  scripts/pingcap/tidb/integrationtest.sh
Due: none

add new pod template file
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none

add new pod template file (#2412)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none

update
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

update debug podtemplate
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none

update
  docs/pingccap/tidb/ci-jobs-latest.md
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Due: pull-verify-jenkins-pipelines

chore: update debug pod template (#2413)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none

Revert "chore: update debug pod template (#2413)"
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none

Revert "chore: update debug pod template (#2413)" (#2414)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none
