Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
      - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
  ...

feat: remove mydumper from dm in build-common
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap-inc/enterprise-extensions): fix unit test step
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Due: pull-verify-jenkins-pipelines

feat: remove mydumper from dm multi-branch
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap-inc/enterprise-extensions): fix unit test step (#2522)
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Due: pull-verify-jenkins-pipelines

feat: remove mydumper and tikv-importer since v7.5.0 (#2521)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
  jenkins/pipelines/cd/nightly/release_tidb_master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Due: pull-verify-jenkins-pipelines

feat: add release-7.5 jobs
  jobs/pingcap/tidb/release-7.5/aa_folder.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
Due: none

feat: add release-7.5 pipelines
  pipelines/pingcap/tidb/release-7.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add release-7.5 presubmits config
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.5-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add tiflow release-7.5 jobs
  jobs/pingcap/tiflow/release-7.5/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.5/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
Due: none

feat: add tiflow release-7.5 pipelines
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add tiflow release-7.5 presubmit config
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.5-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tiflow): tiflow split release-7.5 branch jobs (#2524)
  jobs/pingcap/tiflow/release-7.5/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.5/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat(tidb): tidb split release 7.5 jobs (#2523)
  jobs/pingcap/tidb/release-7.5/aa_folder.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.5-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

Update tikv_ghpr_cache.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

Update tikv_ghpr_cache.groovy (#2525)
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Due: pull-verify-jenkins-pipelines

add building bench_dbms to tiflash ci pipeline (#2515)
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Due: pull-verify-jenkins-pipelines

fix: correct build tidb-server cmd
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix: correct build tidb-server cmd (#2526)
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix: correct build tidb-server cmd
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

fix: correct build tidb-server cmd (#2527)
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

bump Golang for TiDB-Operator release
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

fix: update integrationtest cmd
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

fix: update integrationtest cmd (#2529)
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

bump Golang for TiDB-Operator release (#2528)
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

fix: set pull-e2e-test optional
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: set pull-e2e-test optional (#2530)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add new test script to avoid break test in release branch
  scripts/pingcap/tidb/integrationtest_with_tikv.sh
Due: none

feat: run test in tikv env
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

fix: deleteDir retry will fail at root workspace
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

fix(tidb): fix script integrationtest.sh (#2519)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  scripts/pingcap/tidb/integrationtest_with_tikv.sh
Due: pull-verify-jenkins-pipelines

Update jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

fix: deleteDir retry will fail at root workspace (#2531)
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Due: pull-verify-jenkins-pipelines

fix: tidb tools on arm
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix: tidb tools on arm (#2532)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix: tidb repo layout change
  jenkins/pipelines/cd/tiup/prometheus-tiup-mirror-update.groovy
Due: pull-verify-jenkins-pipelines

fix: tidb repo layout change (#2534)
  jenkins/pipelines/cd/tiup/prometheus-tiup-mirror-update.groovy
Due: pull-verify-jenkins-pipelines

Update br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: support for qa-release-test trigger
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Due: pull-verify-jenkins-pipelines

fix: support qa-release-test trigger pipeline (#2535)
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Due: pull-verify-jenkins-pipelines

Update build-common.groovy
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
