Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
          - name: xxx
            image: debian
            command: [bash, -c]
            args:
              - |
                ls /home/prow/go
                pwd
                ls -l
                ls -l /home/prow/go/src/github.com/
                ls -l /home/prow/go/src/github.com/PingCAP-QE
                ls -l /home/prow/go/src/github.com/PingCAP-QE/ee-ops

add test scripts
  scripts/pingcap/tidb/run_real_tikv_tests_with_gotest.sh
Due: none

add test tags
  scripts/pingcap/tidb/run_real_tikv_tests_with_gotest.sh
Due: none

add timeout
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

add timeout (#2416)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

update new imaeg
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none

chore: add test scripts (#2415)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  scripts/pingcap/tidb/run_real_tikv_tests_with_gotest.sh
Due: none

run realtikv test with gotest
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Due: pull-verify-jenkins-pipelines

Update pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none

Update pod-ghpr_check2_v2.yaml (#2417)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
Due: none

feat: add job dsl
  jenkins/jobs/cd/build-tidb-dashboard.groovy
  jenkins/jobs/cd/pre-release-tiup
  jenkins/jobs/cd/publish-tidb-dashboard.groovy
  jenkins/jobs/cd/release-GA.groovy
Due: none

style: newline at eof
  jenkins/jobs/cd/build-tidb-dashboard.groovy
  jenkins/jobs/cd/pre-release-tiup
  jenkins/jobs/cd/publish-tidb-dashboard.groovy
  jenkins/jobs/cd/release-GA.groovy
Due: none

update trigger branch
  prow-jobs/tikv-pd-latest-presubmits.yaml
  prow-jobs/tikv-pd-release-6.5-presubmits.yaml
  prow-jobs/tikv-pd-release-7.1-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

update trigger branch (#2419)
  prow-jobs/tikv-pd-latest-presubmits.yaml
  prow-jobs/tikv-pd-release-6.5-presubmits.yaml
  prow-jobs/tikv-pd-release-7.1-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: enterprise plugin build
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix: enterprise plugin build (#2420)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

fix: move param into job dsl
  jenkins/jobs/cd/build-tidb-dashboard.groovy
  jenkins/jobs/cd/pre-release-tiup
  jenkins/jobs/cd/publish-tidb-dashboard.groovy
  jenkins/jobs/cd/release-GA.groovy
Due: none

feat: add tidb-dashboard to pipeline (#2404)
  jenkins/jobs/cd/build-tidb-dashboard.groovy
  jenkins/jobs/cd/publish-tidb-dashboard.groovy
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
  jenkins/pipelines/cd/publish-tidb-dashboard.groovy
  jenkins/pipelines/cd/release-GA.groovy
  jenkins/pipelines/cd/tiup/pre-release-tiup.groovy
Due: pull-verify-jenkins-pipelines

fix: rename dash to underscore
  jenkins/jobs/cd/build_tidb_dashboard.groovy
  jenkins/jobs/cd/publish_tidb_dashboard.groovy
Due: none

fix: use stringParam instead of string
  jenkins/jobs/cd/build_tidb_dashboard.groovy
  jenkins/jobs/cd/publish_tidb_dashboard.groovy
Due: none

fix: param syntax
  jenkins/jobs/cd/build_tidb_dashboard.groovy
  jenkins/jobs/cd/publish_tidb_dashboard.groovy
Due: none

fix: jobs syntax (#2421)
  jenkins/jobs/cd/build_tidb_dashboard.groovy
  jenkins/jobs/cd/publish_tidb_dashboard.groovy
Due: none

chore(pipelines/pingcap/tidb/latest): update image and add repo cache mount for job canary unit test job
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
Due: none

chore(pipelines/pingcap/tidb/latest): update image and add repo cache mount for job canary unit test job (#2422)
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
Due: none

cache bazel repo cache with pvc
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: pull-verify-jenkins-pipelines

cache bazel repo cache with pvc (#2423)
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
Due: pull-verify-jenkins-pipelines

cache bazel repo cache with pvc
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
Due: pull-verify-jenkins-pipelines

cache bazel repo cache with pvc (#2424)
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
Due: pull-verify-jenkins-pipelines

chore: add build timeout to 60
  pipelines/pingcap/tidb/release-6.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_build.groovy
Due: pull-verify-jenkins-pipelines

chore: add build timeout to 60 (#2425)
  pipelines/pingcap/tidb/release-6.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_build.groovy
Due: pull-verify-jenkins-pipelines

chore: cache bazel repo cache
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
Due: pull-verify-jenkins-pipelines

chore
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
Due: none

chore: cache bazel repo cache (#2426)
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
Due: pull-verify-jenkins-pipelines

fix: hotfix will fail if it contains special features
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

feat: Simplify go version selection (#2388)
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/pd/pd_ghpr_build.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_build_new3.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_integration.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb/tidb_e2e_tests.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_common_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_campatibility_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_copr_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_ddl_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_mysql_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_readonly_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_1.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb/tidb_merged_pr_build.groovy
  jenkins/pipelines/goversion-select-lib-v2.groovy
Due: pull-verify-jenkins-pipelines

fix: hotfix will fail if it contains special features (#2427)
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

cache bazel repo cache
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
Due: pull-verify-jenkins-pipelines

cache bazel repo cache (#2428)
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
Due: pull-verify-jenkins-pipelines

use better disk
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
Due: none

use better disk (#2429)
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
Due: none

use disk with better io
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
Due: none
