Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
      - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
  ...

feat(script/plugins): support analyze fail reason of test case (#2571)
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  scripts/plugins/analyze-go-test-from-bazel-output.sh
Due: pull-verify-jenkins-pipelines

Revert "feat(script/plugins): support analyze fail reason of test case (#2571)"
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  scripts/plugins/analyze-go-test-from-bazel-output.sh
Due: pull-verify-jenkins-pipelines

chore: add debug log for ks3util
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

feat: support fips for operator (#2660)
  jenkins/pipelines/cd/tidb-operator.groovy
Due: pull-verify-jenkins-pipelines

revoke tikv ghpr groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_test.groovy
Due: pull-verify-jenkins-pipelines

chore: add debug log for ks3util (#2662)
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
Due: pull-verify-jenkins-pipelines

fix: fix some typo
  pipelines/pingcap/tiflash/latest/pull_build.groovy
Due: pull-verify-jenkins-pipelines

feat: add pump and drainer for devbuild
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

chore: add job dsl option
  jenkins/jobs/cd/devbuild.groovy
Due: none

feat(devbuild): support drainer and pump (#2663)
  jenkins/jobs/cd/devbuild.groovy
  jenkins/pipelines/cd/dev-build.groovy
Due: pull-verify-jenkins-pipelines

Update pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Due: pull-verify-jenkins-pipelines

Update pipelines/tikv/pd/latest/pod-pull_integration_realcluster_test.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_realcluster_test.yaml
Due: none

feat: add 7.5 to lts
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Due: pull-verify-jenkins-pipelines

feat: add 7.5 to lts (#2664)
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Due: pull-verify-jenkins-pipelines

ci: enable pd pull-integration-realcluster-test
  prow-jobs/tikv-pd-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

pd: support pd real cluster (#2655)
  jobs/tikv/pd/latest/pull_integration_realcluster_test.groovy
  pipelines/tikv/pd/latest/pod-pull_integration_realcluster_test.yaml
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Due: pull-verify-jenkins-pipelines

feat(pd): enable pd pull-integration-realcluster-test (#2665)
  prow-jobs/tikv-pd-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add 8.1 to lts
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Due: pull-verify-jenkins-pipelines

feat: add 8.1 to lts (#2666)
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Due: pull-verify-jenkins-pipelines

chore: update multi-branch build
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_pd_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_tools_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tikv_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

chore(build): update multi-branch build (#2667)
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_pd_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_tools_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tikv_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

feat: tidb support fips branch pipelines
  jobs/pingcap/tidb/release-6.5-fips/aa_folder.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_check.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-fips-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: add script for download br it dependency binary
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
Due: pull-verify-jenkins-pipelines

feat: tiflow pipelines support on fips branch
  jobs/pingcap/tiflow/release-6.5-fips/aa_folder.groovy
  jobs/pingcap/tiflow/release-6.5-fips/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_integration_test.groovy
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-fips-presubmits.yaml
  scripts/pingcap/tiflow/release-6.5-fips/cdc_run_group.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_compatibility_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_integration_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_run_group.sh
  scripts/pingcap/tiflow/release-6.5-fips/ticdc_download_integration_test_binaries.sh
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: update image
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_integration_test.yaml
Due: none

feat: update image
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-pull_br_integration_test.yaml
Due: none

Update jobs/pingcap/tidb/release-6.5-fips/aa_folder.groovy
  jobs/pingcap/tidb/release-6.5-fips/aa_folder.groovy
Due: none

feat: tidb support fips branch pipelines (#2668)
  jobs/pingcap/tidb/release-6.5-fips/aa_folder.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_check.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-fips-presubmits.yaml
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: tiflow support fips branch pipelines (#2669)
  jobs/pingcap/tiflow/release-6.5-fips/aa_folder.groovy
  jobs/pingcap/tiflow/release-6.5-fips/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_integration_test.groovy
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-fips-presubmits.yaml
  scripts/pingcap/tiflow/release-6.5-fips/cdc_run_group.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_compatibility_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_integration_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_run_group.sh
  scripts/pingcap/tiflow/release-6.5-fips/ticdc_download_integration_test_binaries.sh
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: add two presubmit yaml
  prow-jobs/kustomization.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add two presubmit yaml (#2670)
  prow-jobs/kustomization.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: build with enable fips
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: pd build with enable fips
  jobs/tikv/pd/release-6.5-fips/aa_folder.groovy
  jobs/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/pod-ghpr_build.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-pd-latest-presubmits.yaml
  prow-jobs/tikv-pd-release-6.5-fips-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: build with enable fips (#2671)
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
Due: pull-verify-jenkins-pipelines

feat: pd support fips pipeline (#2672)
  jobs/tikv/pd/release-6.5-fips/aa_folder.groovy
  jobs/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/pod-ghpr_build.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-pd-latest-presubmits.yaml
  prow-jobs/tikv-pd-release-6.5-fips-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: bypass dockerhub rate-limit
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
Due: pull-verify-jenkins-pipelines

fix: bypass dockerhub rate-limit (#2673)
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
Due: pull-verify-jenkins-pipelines

fix: use the correct fips ci image
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_unit_test.yaml
Due: pull-verify-jenkins-pipelines

fix: update args
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_mysql_test.yaml
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
