Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
          - name: xxx
            image: debian
            command: [bash, -c]
            args:
              - |
                ls /home/prow/go
                pwd
                ls -l
                ls -l /home/prow/go/src/github.com/
                ls -l /home/prow/go/src/github.com/PingCAP-QE
                ls -l /home/prow/go/src/github.com/PingCAP-QE/ee-ops

Update pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tiproxy): add tiproxy connector test
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add new mysql connector test
  jobs/pingcap/tiproxy/latest/pull_mysql_ connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_ connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore fix
  jobs/pingcap/tiproxy/latest/pull_mysql_ connector_test.groovy
Due: none

chore fix
  jobs/pingcap/tiproxy/latest/pull_mysql_ connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

fix: remove tiproxy compilation on prepare
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tiproxy): add new mysql connector test (#2274)
  jobs/pingcap/tiproxy/latest/pull_mysql_ connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_ connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: rename file
  jobs/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
Due: none

fix: rename file (#2275)
  jobs/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
Due: none

fix: checkout mysql-server with shallow-clone
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

fix: checkout mysql-server with shallow-clone (#2276)
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
Due: pull-verify-jenkins-pipelines

fix: yum clean all in tiflash docker (#1864)
  jenkins/Dockerfile/tiflash-centos:7.9.2009-aarch64
  jenkins/Dockerfile/tiflash-centos:7.9.2009-amd64
Due: none

update image
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
Due: none

update image (#2278)
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
Due: none

feat: add two integration orm test
  jobs/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: correct escape
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

chore
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tiproxy): add two integration orm test (#2279)
  jobs/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: correct cache key
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tidb): add notify presubmit job for tidb
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  scripts/plugins/notify-by-lark.ts
Due: pull-verify-gitops-for-prow-jobs

fix: correct cache key (#2281)
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

feat: cache tiflash proxy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/experiment.groovy
Due: pull-verify-jenkins-pipelines

feat(prow-jobs): add presubmit job to verify prow jobs
  prow-jobs/pingcap-qe-ci-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(prow-jobs): add presubmit job to verify prow jobs (#2283)
  prow-jobs/pingcap-qe-ci-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tidb): add notify presubmit job for tidb (#2280)
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  scripts/plugins/notify-by-lark.ts
Due: pull-verify-gitops-for-prow-jobs

feat: add new ruby orm test pipeline
  jobs/pingcap/tiproxy/latest/pull_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_ruby_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_ruby_orm_test.groovy
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: add mysql_connector_c_test
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
Due: pull-verify-jenkins-pipelines

chore: fix
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tiproxy): add ruby orm pipeline (#2284)
  jobs/pingcap/tiproxy/latest/pull_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_ruby_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_ruby_orm_test.groovy
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat(tidb): add notify presubmit job for tidb (#2280)
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tidb): add notify presubmit job for tidb (#2280) (#2285)
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Due: pull-verify-gitops-for-prow-jobs

Update pingcap-tiproxy-latest-presubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

Update pingcap-tiproxy-latest-presubmits.yaml (#2286)
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

remote hibernate test
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

remote hibernate test (#2287)
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add python-orm-test pipeline
  jobs/pingcap/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/pingcap/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore: restore build-common from main
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines
