Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
          - name: xxx
            image: debian
            command: [bash, -c]
            args:
              - |
                ls /home/prow/go
                pwd
                ls -l
                ls -l /home/prow/go/src/github.com/
                ls -l /home/prow/go/src/github.com/PingCAP-QE
                ls -l /home/prow/go/src/github.com/PingCAP-QE/ee-ops

use disk with better io (#2430)
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_check2.yaml
Due: none

update pod cmds
  pipelines/pingcap/tiflash/latest/pod-pull_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts/ops): add scripts to create issues for tidb
  scripts/ops/create-issues-for-tidb-flaky-tests.ts
  scripts/ops/create-issues-for-tidb-slow-tests.ts
Due: none

feat: Support rename `explaintest` to `integrationtest` (#2410)
  docs/pingccap/tidb/ci-jobs-latest.md
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_check2.groovy
  scripts/pingcap/tidb/explaintest.sh
Due: pull-verify-jenkins-pipelines

fix: print error at exception (#2400)
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

update ut
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

ci: fix check_dev for release-5.x
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
Due: pull-verify-jenkins-pipelines

fix: correct ci
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
Due: pull-verify-jenkins-pipelines

fix: correct ci (#2434)
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
Due: pull-verify-jenkins-pipelines

update
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix ci mysql-test
  jenkins/pipelines/ci/tidb/tidb_ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix: fix ci mysql-test (#2435)
  jenkins/pipelines/ci/tidb/tidb_ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

fix: revert some changes
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
Due: pull-verify-jenkins-pipelines

fix: revert some changes (#2436)
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
Due: pull-verify-jenkins-pipelines

split ut and build jobs
  pipelines/pingcap/tiflash/latest/pod-pull_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pull_build.groovy
Due: pull-verify-jenkins-pipelines

handle some build details paramaters
  pipelines/pingcap/tiflash/latest/pull_build.groovy
Due: pull-verify-jenkins-pipelines

feat(scripts/ops): add scripts to create issues for tidb (#2432)
  scripts/ops/create-issues-for-tidb-flaky-tests.ts
  scripts/ops/create-issues-for-tidb-slow-tests.ts
Due: none

simply some part
  pipelines/pingcap/tiflash/latest/pull_build.groovy
Due: pull-verify-jenkins-pipelines

fix: use ksyun k8s cluster
  jenkins/pipelines/cd/tiflow-docker.groovy
Due: pull-verify-jenkins-pipelines

fix: use ksyun k8s cluster (#2437)
  jenkins/pipelines/cd/tiflow-docker.groovy
Due: pull-verify-jenkins-pipelines

feat: use ksyun rather than old arm cluster
  jenkins/jobs/cd/tiflow_docker.groovy
  jenkins/jobs/cd/tiflow_operator_docker.groovy
  jenkins/jobs/cd/tiproxy_docker.groovy
  jenkins/pipelines/cd/tiflow-docker.groovy
  jenkins/pipelines/cd/tiflow-operator-docker.groovy
  jenkins/pipelines/cd/tiproxy-docker.groovy
Due: pull-verify-jenkins-pipelines

fix: remove unused trigger
  jenkins/jobs/cd/tiproxy_docker.groovy
Due: none

fix: use pipeline jobs
  jenkins/jobs/cd/tiflow_docker.groovy
  jenkins/jobs/cd/tiflow_operator_docker.groovy
  jenkins/jobs/cd/tiproxy_docker.groovy
Due: none

fix: deprecate trigger directive
  jenkins/jobs/cd/tiflow_docker.groovy
  jenkins/jobs/cd/tiflow_operator_docker.groovy
Due: none

feat: use http rather ssh in git
  jenkins/jobs/cd/tiflow_docker.groovy
  jenkins/jobs/cd/tiflow_operator_docker.groovy
  jenkins/jobs/cd/tiproxy_docker.groovy
Due: none

feat: add clone option
  jenkins/jobs/cd/tiflow_docker.groovy
  jenkins/jobs/cd/tiflow_operator_docker.groovy
  jenkins/jobs/cd/tiproxy_docker.groovy
Due: none

feat: use ksyun rather than old arm cluster (#2438)
  jenkins/jobs/cd/tiflow_docker.groovy
  jenkins/jobs/cd/tiflow_operator_docker.groovy
  jenkins/jobs/cd/tiproxy_docker.groovy
  jenkins/pipelines/cd/tiflow-docker.groovy
  jenkins/pipelines/cd/tiflow-operator-docker.groovy
  jenkins/pipelines/cd/tiproxy-docker.groovy
Due: pull-verify-jenkins-pipelines

refactor: migrate `enterprise-plugin` repo
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_ingration_enterprise_plugin_test.groovy
  jenkins/pipelines/ci/tidb/tidb_merged_pr_build.groovy
  pipelines/pingcap/tidb/latest/merged_build.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_build.groovy
  staging/pipelines/pingcap/tidb/latest/ghpr_build.groovy
  staging/pipelines/pingcap/tidb/latest/merged_build.groovy
Due: pull-verify-jenkins-pipelines

fix: build-common migrate plugin into pingcap-inc org
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Due: pull-verify-jenkins-pipelines

chore(prow-jobs): comment for why the prow context and job name is not same
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

chore(prow-jobs): comment for why the prow context and job name is not same (#2442)
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add nightly tiup pipeline related jobs dsl
  jenkins/jobs/cd/build_common.groovy
  jenkins/jobs/cd/docker_common.groovy
  jenkins/jobs/cd/jenkins_image_syncer.groovy
  jenkins/jobs/cd/optimization_build_tidb.groovy
  jenkins/jobs/cd/pre_release_tiup.groovy
  jenkins/jobs/cd/release_GA.groovy
  jenkins/jobs/cd/release_tidb_master_tiup_nightly.groovy
  jenkins/jobs/cd/send_notify.groovy
  jenkins/jobs/cd/tiup_check_online_version.groovy
  jenkins/jobs/cd/tiup_mirror_online_ga.groovy
  jenkins/jobs/cd/tiup_mirror_test.groovy
  jenkins/jobs/cd/upload_result_to_db.groovy
  jenkins/pipelines/cd/atom-jobs/send_notify.groovy
  jenkins/pipelines/cd/tiup/tiup-check-online-version.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-test.groovy
Due: pull-verify-jenkins-pipelines

fix: add newline at eof
  jenkins/pipelines/cd/atom-jobs/send_notify.groovy
Due: pull-verify-jenkins-pipelines

feat: added release tidb-master-image-nightly
  cd-job-todo.md
  jenkins/jobs/cd/release_tidb_master_image_nightly.groovy
  jenkins/jobs/cd/upload_pipeline_run_data_to_db.groovy
  jenkins/pipelines/cd/atom-jobs/upload-pipeline-run-data-to-db.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): fail the CI build when found long time cost test cases
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
Due: pull-verify-jenkins-pipelines

local tset build passed
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_build.groovy
Due: pull-verify-jenkins-pipelines

feat: add niglty image for internal
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Due: none
