Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

pull-verify-jenkins-pipelines:
  decorate: true
  spec:
    containers:
    - name: main
      image: wbitt/network-multitool
      env:
      - name: JENKINS_URL
        value: https://do.pingcap.net/jenkins
      command:
      - /bin/bash
      - .ci/verify-jenkins-pipelines.sh
      resources:
        limits:
          memory: 128Mi
          cpu: 200m

pull-verify-gitops-for-prow-jobs:
  decorate: true
  spec:
    containers:
    - name: main
      image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
      command:
      - flux
      - -n
      - apps
      args:
      - build
      - kustomization
      - prow-jobs
      - --path=prow-jobs
      - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
  ...

feat: br old it pipeline support go1.21
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_build_new3.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_integration.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_build.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_mysql_test.groovy
  jenkins/pipelines/goversion-select-lib.groovy
Due: pull-verify-jenkins-pipelines

chore: fix url
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_build_new3.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_integration.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_build.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_mysql_test.groovy
Due: pull-verify-jenkins-pipelines

feat(br): br old it pipeline support go1.21 (#2375)
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_build_new3.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_integration.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_build.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_mysql_test.groovy
  jenkins/pipelines/goversion-select-lib.groovy
Due: pull-verify-jenkins-pipelines

add more tiproxy tests
  jobs/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_python_orm_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  jobs/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_sqllogic_test.yaml
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: add 4 more presubmit on tiproxy
  jobs/pingcap/tiproxy/latest/pull_integration_prisma_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_python_orm.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_sequelize.groovy
  jobs/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Due: none

fix postsubmits
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

fix comment
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat: add 4 more presubmit on tiproxy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_sqllogic_test.yaml
Due: none

feat: install clang-format-15 if not exist
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Due: pull-verify-jenkins-pipelines

feat: install clang-format-15 if not exist (#2380)
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Due: pull-verify-jenkins-pipelines

feat: add more presubmit jobs on tiproxy pr
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_sequelize_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add presubmit trigger
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tiproxy): add more presubmit on tiproxy (#2379)
  jobs/pingcap/tiproxy/latest/pull_integration_prisma_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_python_orm.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_sequelize.groovy
  jobs/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_sequelize_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix: escape Error
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

fix: escape Error (#2381)
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Due: pull-verify-jenkins-pipelines

fix(pingcap/community): fix sync owners deno script
  scripts/pingcap/community/update-prow-owners.ts
Due: none

fix(pingcap/community): fix sync owners deno script (#2382)
  scripts/pingcap/community/update-prow-owners.ts
Due: none

chore: remove 7.3 from nightly
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

chore: remove 7.3 from nightly (#2383)
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Due: pull-verify-jenkins-pipelines

feat: support prisam-test in presubmit
  jobs/pingcap/tidb/latest/pull_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_integration_prisma_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_prisma_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

feat: support prisam-test in presubmit (#2384)
  jobs/pingcap/tidb/latest/pull_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_integration_prisma_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_prisma_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore: enable report status of pull prisma-test
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

chore: enable report status of pull prisma-test (#2385)
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tools): add tool to list go dependencies
  tools/list-go-dependencies/README.md
  tools/list-go-dependencies/go.mod
  tools/list-go-dependencies/go.sum
  tools/list-go-dependencies/main.go
Due: none

Update pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
Due: none

Update pod-pr-verify.yaml (#2387)
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
Due: none

feat: Simplify go version selection
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/pd/pd_ghpr_build.groovy
  jenkins/pipelines/goversion-select-lib-upgrade-temporary.groovy
Due: pull-verify-jenkins-pipelines

feat: add a v2 lib to Replace the existing goversion-select file
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/pd/pd_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_e2e_tests.groovy
  jenkins/pipelines/goversion-select-lib-v2.groovy
Due: pull-verify-jenkins-pipelines

feat: add goversion-lib v2 to simplify
  jenkins/pipelines/ci/tidb/tidb_e2e_tests.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_common_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_campatibility_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_copr_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_ddl_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_mysql_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_readonly_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_1.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_2.groovy
  jenkins/pipelines/ci/tidb/tidb_merged_pr_build.groovy
Due: pull-verify-jenkins-pipelines

feat: add goversion-lib v2 to simplify
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_build_new3.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_integration.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(tools): fix main function as review suggested
  tools/list-go-dependencies/main.go
Due: none

feat: add goversion-lib v2 to simplify
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: remove unused func
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat(tools): add tool to list go dependencies (#2386)
  tools/list-go-dependencies/README.md
  tools/list-go-dependencies/go.mod
  tools/list-go-dependencies/go.sum
  tools/list-go-dependencies/main.go
Due: none

fix: correct code cache key mismatch
  pipelines/pingcap/tidb-test/latest/ghpr_integration_prisma_test.groovy
  pipelines/pingcap/tidb-test/latest/ghpr_integration_sequelize_test.groovy
Due: pull-verify-jenkins-pipelines

fix: correct code cache key mismatch (#2389)
  pipelines/pingcap/tidb-test/latest/ghpr_integration_prisma_test.groovy
  pipelines/pingcap/tidb-test/latest/ghpr_integration_sequelize_test.groovy
Due: pull-verify-jenkins-pipelines

add to kustomization
  prow-jobs/kustomization.yaml
Due: pull-verify-gitops-for-prow-jobs

fix: upload sha1 after all build successfully
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

chore: add new line
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
Due: pull-verify-jenkins-pipelines

feat: add jq and pd-recover according to plan
  jenkins/Dockerfile/release/linux-amd64/pd
Due: none

Path conditions:
  pull-verify-jenkins-pipelines: any of: pipelines/.*\.groovy
  pull-verify-gitops-for-prow-jobs: any of: prow\-jobs/.*\.(yaml|yml)$
