Repository PingCAP-QE/ci: changes, and which Prow jobs are due for each by the changed paths.
All: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

prow-jobs/pingcap-qe-ci-presubmits.yaml:

# struct ref: https://pkg.go.dev/k8s.io/test-infra/prow/config#Presubmit
presubmits:
  PingCAP-QE/ci:
    - name: pull-verify-jenkins-pipelines
      decorate: true
      max_concurrency: 1
      run_if_changed: pipelines/.*\.groovy
      branches:
        - main
      spec:
        containers:
          - name: main
            image: wbitt/network-multitool
            env:
              - name: JENKINS_URL
                value: https://do.pingcap.net/jenkins
            command: [/bin/bash, .ci/verify-jenkins-pipelines.sh]
            resources:
              limits:
                memory: 128Mi
                cpu: 200m
    - name: pull-verify-gitops-for-prow-jobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      max_concurrency: 1
      run_if_changed: prow\-jobs/.*\.(yaml|yml)$
      branches:
        - main
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            command: [flux, -n, apps]
            args:
              - build
              - kustomization 
              - prow-jobs
              - --path=prow-jobs
              - --kustomization-file=../ee-ops/apps/gcp/prow/pre/prow-jobs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
          - name: xxx
            image: debian
            command: [bash, -c]
            args:
              - |
                ls /home/prow/go
                pwd
                ls -l
                ls -l /home/prow/go/src/github.com/
                ls -l /home/prow/go/src/github.com/PingCAP-QE
                ls -l /home/prow/go/src/github.com/PingCAP-QE/ee-ops

chore: remove todo file
  cd-job-todo.md
Due: none

chore: add newline
  jenkins/pipelines/cd/tiup/tiup-mirror-test.groovy
Due: pull-verify-jenkins-pipelines

feat(pingcap/tidb): fail the CI build when found long time cost test cases (#2444)
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
Due: pull-verify-jenkins-pipelines

add ut stage
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: refract upload pipeline to db remove params
  jenkins/pipelines/cd/atom-jobs/upload-pipeline-run-data-to-db.groovy
Due: pull-verify-jenkins-pipelines

style: remove empty line
  jenkins/pipelines/cd/atom-jobs/upload-pipeline-run-data-to-db.groovy
Due: pull-verify-jenkins-pipelines

style: comment
  jenkins/pipelines/cd/atom-jobs/send_notify.groovy
Due: pull-verify-jenkins-pipelines

refract: move pod yaml out to file
  jenkins/pipelines/cd/tiup/tiup-check-online-version.groovy
  jenkins/pipelines/cd/tiup/tiup-pod.yaml
Due: pull-verify-jenkins-pipelines

fix: yamlFile
  jenkins/pipelines/cd/tiup/tiup-check-online-version.groovy
Due: pull-verify-jenkins-pipelines

feat: add nightly tiup pipeline related jobs dsl (#2443)
  jenkins/jobs/cd/build_common.groovy
  jenkins/jobs/cd/docker_common.groovy
  jenkins/jobs/cd/jenkins_image_syncer.groovy
  jenkins/jobs/cd/optimization_build_tidb.groovy
  jenkins/jobs/cd/pre_release_tiup.groovy
  jenkins/jobs/cd/release_GA.groovy
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
  jenkins/jobs/cd/release_tidb_master_image_nightly.groovy
  jenkins/jobs/cd/release_tidb_master_tiup_nightly.groovy
  jenkins/jobs/cd/send_notify.groovy
  jenkins/jobs/cd/tiup_check_online_version.groovy
  jenkins/jobs/cd/tiup_mirror_online_ga.groovy
  jenkins/jobs/cd/tiup_mirror_test.groovy
  jenkins/jobs/cd/upload_pipeline_run_data_to_db.groovy
  jenkins/jobs/cd/upload_result_to_db.groovy
  jenkins/pipelines/cd/atom-jobs/send_notify.groovy
  jenkins/pipelines/cd/atom-jobs/upload-pipeline-run-data-to-db.groovy
  jenkins/pipelines/cd/tiup/tiup-check-online-version.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-test.groovy
  jenkins/pipelines/cd/tiup/tiup-pod.yaml
Due: pull-verify-jenkins-pipelines

fix work path
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix(syntax): release all image by branch
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Due: none

fix(syntax): release all image by branch (#2448)
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Due: none

fix: correct pipelines affected by tidb-test org adjusted
  jenkins/pipelines/ci/tidb/tidb_ghpr_common_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_ddl_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_1.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_2.groovy
Due: pull-verify-jenkins-pipelines

chore: Delete invalid code to enhance readability
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_1.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_2.groovy
Due: pull-verify-jenkins-pipelines

fix: correct pipelines affected by tidb-test org adjusted (#2449)
  jenkins/pipelines/ci/tidb/tidb_ghpr_common_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_ddl_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_1.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_sqllogic_test_2.groovy
Due: pull-verify-jenkins-pipelines

chore: use less groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

fix: format merged-unit-test
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore fix
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/latest/tmp.sh
Due: pull-verify-jenkins-pipelines

feat: add release-GA job dsl
  cd-todo-list.txt
  jenkins/jobs/cd/dev_build.groovy
  jenkins/jobs/cd/manifest_multiarch_common.groovy
  jenkins/jobs/cd/multi-arch-sync-docker.groovy
  jenkins/jobs/cd/pre_release_check.groovy
  jenkins/jobs/cd/pre_release_community_docker_rocky.groovy
  jenkins/jobs/cd/pre_release_docker.groovy
  jenkins/jobs/cd/pre_release_docker_rocky_sync.groovy
  jenkins/jobs/cd/pre_release_enterprise_docker.groovy
  jenkins/jobs/cd/pre_release_enterprise_docker_rocky.groovy
  jenkins/jobs/cd/release_GA_v5_extra_packages.groovy
  jenkins/jobs/cd/tiup_package_offline_mirror_v6.0.0.groovy
  jenkins/pipelines/cd/atom-jobs/manifest-multiarch-common.groovy
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
Due: pull-verify-jenkins-pipelines

feat: add dm tiup dsl
  jenkins/jobs/cd/tiup_package_offline_mirror_dm.groovy
Due: none

style: add newline at eof
  jenkins/pipelines/cd/atom-jobs/manifest-multiarch-common.groovy
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
Due: pull-verify-jenkins-pipelines

chore: remove todo list
  cd-todo-list.txt
Due: none

fix: replace dash with underscore
  jenkins/jobs/cd/multi_arch_sync_docker.groovy
Due: none

delete tmp file
  pipelines/pingcap/tiflash/latest/tmp.sh
Due: none

feat: add merged-ut to tiflash mergedCI
  jobs/pingcap/tiflash/aa_folder.groovy
  jobs/pingcap/tiflash/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflash-latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

chore: add new line at end of file
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
Due: none

fix: rename file
  jobs/pingcap/tiflash/latest/merged_unit_test.groovy
Due: none

refract: rename devbuild file
  jenkins/jobs/cd/devbuild.groovy
Due: none

fix: remove unused container
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
Due: none

chore: update comment
  prow-jobs/pingcap-tiflash-latest-postsubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

feat(tiflash): add merged-ut to tiflash mergedCI (#2451)
  jobs/pingcap/tiflash/aa_folder.groovy
  jobs/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflash-latest-postsubmits.yaml
Due: pull-verify-jenkins-pipelines, pull-verify-gitops-for-prow-jobs

fix(scripts/ops): fix topN issue creating scripts
  scripts/ops/create-issues-for-tidb-flaky-tests.ts
  scripts/ops/create-issues-for-tidb-slow-tests.ts
Due: none

fix(scripts/ops): fix topN issue creating scripts (#2452)
  scripts/ops/create-issues-for-tidb-flaky-tests.ts
  scripts/ops/create-issues-for-tidb-slow-tests.ts
Due: none

remove debug lines
  pipelines/pingcap/tiflash/latest/pull_build.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

chore: merged_ut have beed add on other pr
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
Due: pull-verify-jenkins-pipelines

add some tools check
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_build.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines

feat: add jobdsl and prow config
  jobs/pingcap/tiflash/latest/pull_build.groovy
  jobs/pingcap/tiflash/latest/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflash-latest-presubmits.yaml
Due: pull-verify-gitops-for-prow-jobs

chore: add a newline to end of file
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
Due: none

fix: use tmp ns before test done
  pipelines/pingcap/tiflash/latest/pull_build.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Due: pull-verify-jenkins-pipelines
